Options -Indexes
RewriteEngine On
RewriteRule ^(css|images|js|docs)($|/) - [L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]*)$ index.php?a=$1
RewriteRule ^([^/]*)/([^/]*)$ index.php?a=$1&b=$2
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ index.php?a=$1&b=$2&c=$3